.topbarContainer {
    height: 50px;
    width: 100%;
    opacity: 85%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0; 
    z-index: 999;
    border-bottom: black;
}

/* 
.topbarLeft{
    flex: 5; 
} */

/* .logo{
    font-size: 30px;
    font-weight: normal;
    color: black;
    cursor: pointer;

} */


.topbarCenter{
    display: flex;
    flex: 10; 
    font-size: 15px;
    font-weight: normal;
    border-bottom: black;
}
.post
,.developers{
    display: flex;
    margin-left: 25px;
    align-items: center;
}

.topbarRight{
    flex: 4; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;

}

span.topbarLink:hover{
    text-decoration: underline black;
}
