.update-post-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.update-post-form-wrapper {
    max-width: 100%;
}

.update-post-form {
    display: flex;
    flex-direction: column;

}
.update-image-wrapper {
    width: 200px;
}

