@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');
html {
  font-family: 'Exo', sans-serif;
  color: #404040;

}

body {
 background-color: #000300;
}