/* .commentContainer{
    max-width: 1200px;
    width: calc(100vw - 4rem);
    margin: 2rem auto;
}

.commentBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.user{
    display: flex;
    padding-left:1px ;
    font-size: 15px;
    font-weight: normal;

}

.comment{
    display: flex;
    justify-content: space-around;
}

.commentInput{
    display: flex;

}
.timeStamp{
    display: flex;
    justify-content: space-between;
} */