.commentContainer{
    top: 30px;
    width: 50%;
    background-color: aquamarine;
    opacity: 80%;
    display: flex;
    margin-top: 20px;
    border-radius: 8px;
    flex-direction: row;
    justify-content: space-around;


}

.commentBox{
    display: flex;
    flex-direction: row;
}

.user{
    display: flex;
    padding-left:1px ;
    font-size: 15px;
    font-weight: normal;

}

.comment{
    display: flex;
    justify-content: space-around;
}

.commentInput{
    display: flex;

}
.timeStamp{
    display: flex;
    justify-content: space-between;
}